@import 'Mixins';

.AccountModal{
    @include position(absolute, 66px, 85px, '', '');
    z-index: 1;
    background-color: #faf9ff;
    transition: .1s ease;
    opacity: 1;
}

.account-modal-inactive{
    opacity: 0;
    pointer-events: none;
}