@import 'Mixins';

/*Sections*/

.flex-w{
	display: flex;
	margin: 8px 0;
	justify-content: space-between;
}

.field-w{
	margin: 18px 0;
}

.modal-w{
	padding: 25px 25px 1px 25px;
}

.modal-g, .modal{
	z-index: 100;
}

/*Texts*/

.head-w, .label-w, .section-w{
	font-weight: 200;
}

.section-w {
    font-size: 19px;
    margin-top: 20px;
}

.label-w{
	font-size: 15px;
}

.head-w {
    font-size: 24px;
    margin: 0;
}

.text-w {
    font-weight: 300;
}



/*Inputs*/

.input-w, .input-area-w{
	margin-top: 6px;
}

.input-w > input{
	@include size(-webkit-fill-available, 33px);
	min-width: 230px;
	background-color: #ececec;
    border: 1px solid #b2b2b200;
	outline: none;
	padding: 0 10px;
	color: #3D405D; 
	transition: .4s ease;
	font-weight: 300;
}

.input-w175 > input{
	width: 175px;
}

.input-w > input:focus{
	background-color: #fff;
	border: 1px solid #3D405D;
}

.input-w > input::placeholder{
	@include font(14px, 200);
	color: #B2B2B2;
}

.range-w > input{
    width: 100%;
}

.select-w{
	@include size(100%, 33px);
    background-color: #ececec;
    border: 1px solid #b2b2b200;
    outline: none;
    padding: 0 10px;
    color: #3D405D;
    -webkit-transition: .4s ease;
    transition: .4s ease;
    font-weight: 300;
}

select {
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
}

option{
	background-color: #ececec;
}

/*Buttons*/

.button-w{
	@include font(13px, 300);
	cursor: pointer;
	border: 1px solid;
    padding: 10px 18px;
	color: #3D405D;
	user-select: none;
	transition: .2s ease;
	background-color: transparent;
	outline: none;
	text-decoration: none;
}

.btn-w{
	@include size(50%, 67px);
	@include displayAlign(center);
	@include font(14px, 300);
    transition: .35s ease;
	cursor: pointer;
}

.f-w{
	width: 100%;
}

.btn-container-w{
	display: flex;
}


.folder-option-btn{
	margin: 8px 4px  !important;
}