@import 'Mixins';

.new-item-modal, .edit-item-modal{
	@include displayAlign(center);
	@include size(100vw, 100vh);
	@include position(fixed, 0, '', '', '');
    z-index: 200;
	background-color: #5d5d5dc2;
	transition: .1s ease;
	opacity: 0;
	pointer-events: none;
}

.new-item-modal-content{
	transition: .5s;
	background-color: #f3f3f3;
}

.color-field{
	margin: 3px 0;
}

.a-color-picker-row{
	padding: 5px 15px;
}

.a-color-picker-row-top{
	padding: 0px;
}