@import 'Mixins';

.Settings{
    @include position(fixed, 66px, 0, '', '');
    overflow: hidden;
    background-color: #FAF9FF;
    transition: .4s ease;
    z-index: 1;
}

.Settings-Inactive{
    right: -300px;
}

.app-prompt{
    @include position(fixed, '', '', 10px, 50%);
    width: 300px;
    transform: translateX(-50%);
    background-color: #FAF9FF;
    transition: .18s ease;
}

.app-prompt-inactive{
    opacity: 0;
    pointer-events: none;
}

.theme-btn{
    @include position(absolute, '', 25px,'','');
    cursor: pointer;
}

.main-menu-container{
    overflow-y: scroll;
    height: calc(100vh - 92px);
}

.section{
    width: 235px;
}