:root{
	--main-white-text: #d4d4d4;
	--main-blue: rgb(74, 18, 179);
}

.dark-t-background, .dark-t-button-w:hover, .dark-t-btn-w:hover{
    background-color: var(--main-blue);
}

.dark-t-body-bg{
    background-color: #1e2029;
}

.dark-t-modal{
    background-color: #26263a;
}

.dark-t-expand{
	background-color: #3c3c3c;
}

.dark-t-text-w{
	color: var(--main-white-text);
}

.dark-t-button-w{
	border: 1px solid var(--main-blue);
	color: var(--main-white-text);
}

.dark-t-button-w:hover{
	color: #fff;
}

.dark-t-btn-w{
	color: var(--main-white-text);
}

.dark-link-w{
	background-color: #2e2e3a;
}

.dark-link-text-w{
	color: #e6e6e6;
}