:root{
	--main-white-text: #B4B3B3;
	--main-blue: #3B70DE;
}

.dark-t-background, .dark-t-button-w:hover, .dark-t-btn-w:hover{
    background-color: var(--main-blue);
}

.dark-t-body-bg{
    background-color: #353846;
}

.dark-t-modal{
    background-color: #222229;
}

.dark-t-expand{
	background-color: #3c3c3c;
}



.dark-t-text-w{
	color: var(--main-white-text);
}

.dark-t-button-w{
	border: 1px solid var(--main-blue);
	color: var(--main-white-text);
}

.dark-t-button-w:hover{
	color: #fff;
}

.dark-t-btn-w{
	color: var(--main-white-text);
}