:root{
	--light2-white-text: #3d405d;
	--light2-blue: #5b23b5;
}

.light2-t-background, .light2-t-button-w:hover, .light2-t-btn-w:hover{
    background-color: var(--light2-blue);
}

.light2-t-body-bg{
    background-color: #d3d3e4;
}

.light2-t-modal{
    background-color: #f3f3f3 !important;
}

.light2-t-expand{
	background-color: #c8c8dc;
}

.light2-t-text-w{
	color: #3d405d;
}

.light2-t-button-w{
	border: 1px solid var(--light2-blue);
	color: #3d405d;
}

.light2-t-button-w:hover{
	color: #fff;
}

.light2-t-btn-w{
	color: #3d405d;
}

.light2-link-w{
	background-color: #b9b9c1;
}

.light2-link-text-w{
	color: #616161;
}