.side-modal{
    position: absolute;
    transform: translateX(-85px);
    z-index: 1000;
    right: 0;
    bottom: 0px;
    background-color: #FAF9FF;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(153, 153, 153); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(129, 129, 129); 
}