.engine-modal{
	display: flex;
	justify-content: center;
	align-items: center;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
	background-color: #5d5d5dc2;
	transition: .1s ease;
	opacity: 0;
	pointer-events: none;
}

.engine-modal-active{
	opacity: 1;
	pointer-events: inherit;
}

.engine-entry{
	padding-top: 0 !important;
}

.engine-entry-container {
    background-color: #ececec;
    height: 200px;
	width: 400px;
	overflow-y: scroll;
}

.engine-item{
	display: flex;
    color: #3D405D;
	font-weight: 300;
	font-size: 14px;
	padding: 7px 13px;
	align-items: center;
	border-top: 1px solid #d0d1e0;
	position: relative;
}

.engine-item:nth-child(1){
	border-top: none;
}

.engine-item-url{
	max-width: 215px;
}

.engine-item-delete{
    position: absolute;
    padding: 9px;
	right: 3px;
	cursor: pointer;
}

.engine-item-name{
	min-width: 115px;
}
