@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.sketch-picker{
    width: 275px !important;
    background: none !important;
    border: none;
    border-radius: 0px !important;
    box-shadow: none !important;
    position: absolute !important;
    transform: translate(87%, -25px) !important;
    background-color: #f3f3f3 !important;
    padding: 27px 20px !important;
    display: none;
}

.sketch-picker-true{
    display: block;
}

body{
  	margin: 0;
	padding: 0;
	background-color: #e6e6e6;
	overflow-x: hidden;
}

*{
	font-family: 'Roboto', arial, sans-serif;
}

/*Modal Preset Inputs/Labels*/

.head-w{
	font-size: 24px;
	margin: 0;
}

.head-w, .label-w{
	font-weight: 200;
	color: #3D405D;
}

.label-w{
	font-size: 15px;
}

.input-w, .input-area-w{
	margin-top: 6px;
}

.input-w > input{
	width: 230px;
	height: 33px;
	background-color: #ececec;
    border: 1px solid #b2b2b200;
	outline: none;
	padding: 0 10px;
	color: #3D405D; 
	transition: .4s ease;
	font-weight: 300;
}

.input-w175 > input{
	width: 175px;
}

.input-w > input:focus{
	background-color: #fff;
	border: 1px solid #3D405D;
}

.input-w > input::placeholder{
	color: #B2B2B2;
	font-size: 14px;
	font-weight: 200;
}

.input-area-w > textarea{
    width: 230px;
    height: 16px;
    background-color: #ececec;
    border: 1px solid #b2b2b200;
    outline: none;
    padding: 10px;
    color: #3D405D;
    transition: .4s ease;
    font-weight: 300;
}

.input-a175 > textarea{
	width: 175px;
}

.input-area-w > textarea:focus{
	height: 100px;
	background-color: #fff;
	border: 1px solid #3D405D;
}

.field-w{
	margin: 18px 0;
}

.range-w > input{
    width: 100%;
}

.modal-w{
	padding: 25px 25px 1px 25px;
}

.modal-g{
	z-index: 100;
}

.modal{
    z-index: 100;
}

/*Modal Bottom Buttons*/

.btn-w{
	height: 67px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .35s ease;
    font-size: 14px;
    font-weight: 300;
	color: #3d405d;
	cursor: pointer;
}

.btn-w:hover{
    color: #f8f8f8;
    background-color: #3d405d;
}

.f-w{
	width: 100%;
}

.btn-container-w{
	display: flex;
    justify-content: space-around;
}