.navbar-container{
	display: flex;
	align-items: center;
	width: 100%;
	height: 66px; /*Responsive*/
	background-color: #3d405d;
	position: fixed;
    top: 0;
    z-index: 15;
}

.search-bar-container{
	transform: translateX(-50%);
    position: sticky;
    left: 50%;
}

.search-form{
	display: flex;
	align-items: center;
}

.search-input{
	transition: all .5s ease;
	height: 31px; /*Responsive*/
	width: 0vmin;
	border-radius: 50px;
	border: 3px solid #4285F4;
	outline: none;
	padding-left: 40px;
	background-image: url(../assets/Google.svg);
	background-size: 21px;
    background-position: 9px;
    background-repeat: no-repeat;
}

.search-input:focus{
	width: 45vmin;
}

.search-input::placeholder{
	font-style: italic;
	color: #CFCFCF;
}

.search-engine-icon{
	height: 100%;
}

.content-container{
	display: flex;
	justify-content: flex-end;
	align-items: center;
    width: 100%;
    height: 100%;
}

.con-date{
	display: flex;
	align-items: center;
}

.con-time, .con-login{
    color: #F8F8F8;
    font-weight: 500;
    font-size: 13px;
}

.con-login{
	margin-left: 30px;
	cursor: pointer;
}

.con-login:hover{
	text-decoration: underline;
}

.con-menu{
	height: 25%;
	margin: 0 30px;
	cursor: pointer;
}