.Notes{
    position: fixed;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 66px;
    right: 85px;
    height: 100%;
    background-color: #FAF9FF;
    transition: .4s ease;
}

.Notes-Inactive{
    width: 0px;
}

.notes-container{
    width: 250px;
    padding: 17px 25px;
}

.notes-container > p{
    font-size: 17px;
    color: #6b6b6b;
    margin-bottom: 10px;
}

.note-cell{
    display: flex;
    position: relative;
    top: 0;
    align-items: center;
    width: 100%;
}

.note-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: 1px solid #d2d2d2;;
    padding: 2px 10px;
    margin: 2px 0;
}

.note-item:last-child{
    margin-bottom: 200px
}

.note-content{
    max-height: fit-content;
    height: 0px;
    overflow: hidden;
}

.note-content-active{
    height: 100%;
    margin-top: 5px;
}

.note-arrow{
    height: 14px;
    padding: 6px;
    cursor: pointer;
    transition: .2s ease;
}

.note-arrow-active{
    transform: rotate(-270deg)
}

.note-title{
    margin-left: 6px;
}

.note-content > p{
    word-break: break-all;
}

.note-title > p, .note-content > p{
    font-size: 13px;
}
