.new-item-modal, .edit-item-modal{
	display: flex;
	justify-content: center;
	align-items: center;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
	background-color: #5d5d5dc2;
	transition: .1s ease;
	opacity: 0;
	pointer-events: none;
}

.modal-active{
	display: flex;
	opacity: 1;
	pointer-events: initial;
}

.new-item-modal-content{
	transition: .5s;
	background-color: #f3f3f3;
}

.modal-container{
	/*width: 350px;
	height: 410px;*/
	padding: 25px 25px 1px 25px;
}

.modal-set{
	font-size: 24px;
	margin: 0;
}

.modal-set, .modal-label{
	font-weight: 200;
	color: #3D405D;
}

.modal-field{
	margin: 18px 0;
}

.modal-label{
	font-size: 15px;
}

.input-field{
	margin-top: 6px;
}

.input-field > input{
	width: 230px;
	height: 33px;
	background-color: #ececec;
    border: 1px solid #b2b2b200;
	outline: none;
	padding: 0 10px;
	color: #3D405D; 
	transition: .4s ease;
	font-weight: 300;
}

.input-field > input:focus{
	background-color: #fff;
	border: 1px solid #3D405D;
}

.input-field > input::placeholder{
	color: #B2B2B2;
	font-size: 14px;
	font-weight: 200;
}

.input:focus + span{
	width: 100%;
}

.input-field > span{
	transition: 0.3s ease;
	position: absolute;
    width: 0;
    height: 2px;
    background-color: #727272;
    left: 0;
    bottom: -2px;
}

.color-field{
	margin: 3px 0;
}

.a-color-picker-row{
	padding: 5px 15px;
}

.a-color-picker-row-top{
	padding: 0px;
}

.modal-button {
	height: 67px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
    font-size: 14px;
    font-weight: 300;
	color: #3d405d;
	cursor: pointer;
}

.modal-button:hover{
	color: #212654;
	background-color: #cccccc;
}

.f-w{
	width: 100%;
}

.modal-btn{
	width: fit-content;
	height: fit-content;
    padding: 9px 15px;
    color: #fff;
	font-size: 11px;
	font-weight: 300;
    margin-top: 17px;
    cursor: pointer;
}

.setting-buttons{
	display: flex;
    justify-content: space-around;
}

.confirm-btn{
	background-color: #3d405d;
	padding: 10px 15px;
}

.remove-btn{
	color: #737373;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #c3c3c3;
}