.Settings{
    position: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 66px;
    right: 0;
    background-color: #FAF9FF;
    transition: .4s ease;
    z-index: 1;
}

.Settings-Inactive{
    right: -300px;
}

.app-prompt{
    position: fixed;
    width: 300px;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    background-color: #FAF9FF;
    transition: .18s ease;
}

.app-prompt-inactive{
    opacity: 0;
    pointer-events: none;
}

.theme-btn{
    cursor: pointer;
    position: absolute;
    right: 25px;
}

.main-menu-container{
    overflow-y: scroll;
    height: calc(100vh - 92px);
}

.section{
    width: 235px;
}