.app-folders {
  margin: 10px auto;
  width: fit-content;
  max-width: 830px; }
  .app-folders .sec-folders {
    height: 135px;
    overflow: hidden;
    transition: .3s ease; }
    .app-folders .sec-folders .folder-main-container {
      display: flex;
      overflow-x: scroll;
      margin-top: 10px; }
      .app-folders .sec-folders .folder-main-container .folder-container {
        position: relative;
        min-width: 160px;
        user-select: none; }
        .app-folders .sec-folders .folder-main-container .folder-container .folder-empty-name {
          text-align: center; }
        .app-folders .sec-folders .folder-main-container .folder-container .folder-item {
          margin: 1px;
          -webkit-transition: .25s ease;
          transition: .25s ease;
          padding-bottom: 8px;
          display: flex;
          cursor: pointer;
          flex-direction: column;
          position: relative; }
          .app-folders .sec-folders .folder-main-container .folder-container .folder-item .folder-let {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px auto 5px auto;
            text-align: center;
            background-color: #ffffff80;
            border-radius: 50px; }
            .app-folders .sec-folders .folder-main-container .folder-container .folder-item .folder-let .folder-let-ind {
              font-size: 20px;
              font-weight: bold;
              color: #FFF; }
          .app-folders .sec-folders .folder-main-container .folder-container .folder-item .folder-empty-let {
            background-color: #74747471; }
          .app-folders .sec-folders .folder-main-container .folder-container .folder-item .folder-name {
            font-size: 12px;
            font-weight: 600;
            color: #E6E6E6;
            text-align: center;
            margin-top: 3px; }
  .app-folders .sec-folders-disabled {
    height: 0px; }
  .app-folders .expand-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10px;
    margin-top: 5px;
    cursor: pointer; }
    .app-folders .expand-div .collapse-arrow {
      width: 10px;
      transform: rotate(180deg); }
    .app-folders .expand-div .collapse-arrow-active {
      transform: rotate(0deg); }
  .app-folders .modal-new-folder, .app-folders .modal-edit-folder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: "";
    bottom: "";
    left: 0;
    z-index: 200;
    background-color: #5d5d5dc2;
    transition: .1s ease;
    opacity: 0;
    pointer-events: none; }
  .app-folders .new-folder-modal, .app-folders .edit-folder-modal {
    transition: .5s;
    background-color: #f3f3f3; }
